In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import os

from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"],axis=1)

In [3]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df.APPLICATION_TYPE.value_counts()

# Determine which values to replace if counts are less than ...?
# OPTIMIZATION made "Other" bin slightly larger
replace_application = list(type_counts[type_counts < 700].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()

# Determine which values to replace if counts are less than ...?
replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [5]:
application_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [6]:
# OPTIMIZATION - Removing STATUS column
application_df = application_df.drop("STATUS", axis=1)

In [7]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat, axis=1)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# OPTIMIZATION - Increased neurons in each hidden layer and added third and fourth hidden layer
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 20
hidden_nodes_layer4 = 10

nn = tf.keras.models.Sequential()

# OPTIMIZATION - Used a combination of tahn and relu activation functions for the hidden layers
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               4200
_________________________________________________________________
dense_1 (Dense)              (None, 40)                4040
_________________________________________________________________
dense_2 (Dense)              (None, 20)                820
_________________________________________________________________
dense_3 (Dense)              (None, 10)                210
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 11
=================================================================
Total params: 9,281
Trainable params: 9,281
Non-trainable params: 0
_________________________________________________________________

2022-07-18 07:56:04.465230: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-07-18 07:56:04.465726: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=40)

Train on 25724 samples
Epoch 1/40
25724/25724 [==============================] - 4s 164us/sample - loss: 0.5667 - accuracy: 0.7228
Epoch 2/40
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5548 - accuracy: 0.7306
Epoch 3/40
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5518 - accuracy: 0.7330
Epoch 4/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5507 - accuracy: 0.7329
Epoch 5/40
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5492 - accuracy: 0.7334
Epoch 6/40
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5480 - accuracy: 0.7345
Epoch 7/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5470 - accuracy: 0.7348
Epoch 8/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5460 - accuracy: 0.7354
Epoch 9/40
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5455 - accuracy: 0.7354
Epoch 10/40
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5449 - accuracy: 0.7361
Epoch 11/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5438 - accuracy: 0.7365
Epoch 12/40
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5437 - accuracy: 0.7354
Epoch 13/40
25724/25724 [==============================] - 4s 150us/sample - loss: 0.5431 - accuracy: 0.7364
Epoch 14/40
25724/25724 [==============================] - 4s 163us/sample - loss: 0.5426 - accuracy: 0.7371
Epoch 15/40
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5419 - accuracy: 0.7381
Epoch 16/40
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5414 - accuracy: 0.7374
Epoch 17/40
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5411 - accuracy: 0.7378
Epoch 18/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5405 - accuracy: 0.7374
Epoch 19/40
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5405 - accuracy: 0.7374
Epoch 20/40
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5400 - accuracy: 0.7380
Epoch 21/40
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5397 - accuracy: 0.7388
Epoch 22/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5393 - accuracy: 0.7377
Epoch 23/40
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5397 - accuracy: 0.7388
Epoch 24/40
25724/25724 [==============================] - 4s 156us/sample - loss: 0.5386 - accuracy: 0.7396
Epoch 25/40
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5386 - accuracy: 0.7388
Epoch 26/40
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5382 - accuracy: 0.7394
Epoch 27/40
25724/25724 [==============================] - 4s 154us/sample - loss: 0.5383 - accuracy: 0.7398
Epoch 28/40
25724/25724 [==============================] - 4s 161us/sample - loss: 0.5383 - accuracy: 0.7387
Epoch 29/40
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5379 - accuracy: 0.7400
Epoch 30/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5377 - accuracy: 0.7397
Epoch 31/40
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5377 - accuracy: 0.7395
Epoch 32/40
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5371 - accuracy: 0.7397
Epoch 33/40
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5371 - accuracy: 0.7391
Epoch 34/40
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5374 - accuracy: 0.7397
Epoch 35/40
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5369 - accuracy: 0.7400
Epoch 36/40
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5368 - accuracy: 0.7397
Epoch 37/40
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5369 - accuracy: 0.7396
Epoch 38/40
25724/25724 [==============================] - 4s 173us/sample - loss: 0.5364 - accuracy: 0.7398
Epoch 39/40
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5370 - accuracy: 0.7401
Epoch 40/40
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5358 - accuracy: 0.7399

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.5558 - accuracy: 0.7266
Loss: 0.5539747064940783, Accuracy: 0.7266472578048706

In [16]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=40,callbacks=[cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.
Train on 25724 samples
Epoch 1/40
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5361 - accuracy: 0.7399
Epoch 2/40
25724/25724 [==============================] - 4s 166us/sample - loss: 0.5358 - accuracy: 0.7402
Epoch 3/40
25724/25724 [==============================] - 4s 161us/sample - loss: 0.5361 - accuracy: 0.7401
Epoch 4/40
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5361 - accuracy: 0.7402
Epoch 5/40
25408/25724 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7401
Epoch 00005: saving model to checkpoints/weights.05.hdf5
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5360 - accuracy: 0.7400
Epoch 6/40
25724/25724 [==============================] - 4s 158us/sample - loss: 0.5357 - accuracy: 0.7411
Epoch 7/40
25724/25724 [==============================] - 5s 178us/sample - loss: 0.5354 - accuracy: 0.7402
Epoch 8/40
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5366 - accuracy: 0.7395
Epoch 9/40
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5359 - accuracy: 0.7403
Epoch 10/40
25408/25724 [============================>.] - ETA: 0s - loss: 0.5355 - accuracy: 0.7400
Epoch 00010: saving model to checkpoints/weights.10.hdf5
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5351 - accuracy: 0.7403
Epoch 11/40
25724/25724 [==============================] - 5s 192us/sample - loss: 0.5353 - accuracy: 0.7406
Epoch 12/40
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5351 - accuracy: 0.7406
Epoch 13/40
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5349 - accuracy: 0.7413
Epoch 14/40
25724/25724 [==============================] - 4s 174us/sample - loss: 0.5348 - accuracy: 0.7411
Epoch 15/40
25568/25724 [============================>.] - ETA: 0s - loss: 0.5355 - accuracy: 0.7406
Epoch 00015: saving model to checkpoints/weights.15.hdf5
25724/25724 [==============================] - 4s 154us/sample - loss: 0.5355 - accuracy: 0.7406
Epoch 16/40
25724/25724 [==============================] - 5s 191us/sample - loss: 0.5351 - accuracy: 0.7405
Epoch 17/40
25724/25724 [==============================] - 4s 159us/sample - loss: 0.5347 - accuracy: 0.7409
Epoch 18/40
25724/25724 [==============================] - 4s 150us/sample - loss: 0.5359 - accuracy: 0.7401
Epoch 19/40
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5353 - accuracy: 0.7408
Epoch 20/40
25632/25724 [============================>.] - ETA: 0s - loss: 0.5345 - accuracy: 0.7411
Epoch 00020: saving model to checkpoints/weights.20.hdf5
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5347 - accuracy: 0.7409
Epoch 21/40
25724/25724 [==============================] - 5s 179us/sample - loss: 0.5354 - accuracy: 0.7404
Epoch 22/40
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5347 - accuracy: 0.7408
Epoch 23/40
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5349 - accuracy: 0.7406
Epoch 24/40
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5346 - accuracy: 0.7407
Epoch 25/40
25440/25724 [============================>.] - ETA: 0s - loss: 0.5348 - accuracy: 0.7418
Epoch 00025: saving model to checkpoints/weights.25.hdf5
25724/25724 [==============================] - 4s 160us/sample - loss: 0.5345 - accuracy: 0.7420
Epoch 26/40
25724/25724 [==============================] - 4s 167us/sample - loss: 0.5342 - accuracy: 0.7416
Epoch 27/40
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5347 - accuracy: 0.7411
Epoch 28/40
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5345 - accuracy: 0.7417
Epoch 29/40
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5347 - accuracy: 0.7416
Epoch 30/40
25696/25724 [============================>.] - ETA: 0s - loss: 0.5346 - accuracy: 0.7402
Epoch 00030: saving model to checkpoints/weights.30.hdf5
25724/25724 [==============================] - 4s 160us/sample - loss: 0.5345 - accuracy: 0.7402
Epoch 31/40
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5343 - accuracy: 0.7406
Epoch 32/40
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5344 - accuracy: 0.7410
Epoch 33/40
25724/25724 [==============================] - 4s 152us/sample - loss: 0.5348 - accuracy: 0.7407
Epoch 34/40
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5347 - accuracy: 0.7408
Epoch 35/40
25632/25724 [============================>.] - ETA: 0s - loss: 0.5342 - accuracy: 0.7414
Epoch 00035: saving model to checkpoints/weights.35.hdf5
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5346 - accuracy: 0.7412
Epoch 36/40
25724/25724 [==============================] - 4s 170us/sample - loss: 0.5346 - accuracy: 0.7409
Epoch 37/40
25724/25724 [==============================] - 4s 174us/sample - loss: 0.5341 - accuracy: 0.7416
Epoch 38/40
25724/25724 [==============================] - 6s 252us/sample - loss: 0.5339 - accuracy: 0.7417
Epoch 39/40
25724/25724 [==============================] - 11s 423us/sample - loss: 0.5343 - accuracy: 0.7413
Epoch 40/40
25664/25724 [============================>.] - ETA: 0s - loss: 0.5352 - accuracy: 0.7410
Epoch 00040: saving model to checkpoints/weights.40.hdf5
25724/25724 [==============================] - 16s 637us/sample - loss: 0.5353 - accuracy: 0.7409

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5567 - accuracy: 0.7261
Loss: 0.5559450854017852, Accuracy: 0.726064145565033

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")